{% extends 'base.html' %}
{% block title %} OUR TEAM {% endblock title %}
{% load static %}
{% block body %}

<div id ="team-section" class="container-xxl py-5 ">
    <div class="container ">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
          <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 ">OUR <span class="text-blue-600 dark:text-blue-500">TEAM</span></h1>

        </div>
        <div class="row g-4 team-row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item p-4 team-card">
                    <div class="overflow-hidden mb-4">
                        <img 
                            class="img-fluid" 
                            src="{% static 'team/Gnan.jpg' %}" 
                            alt="Gnaneswar Karakavalasa" 
                            style="width: 100%; height: 500px; object-fit: cover;">
                    </div>
                    <h5 class="mb-0 text-center">Gnaneswar Karakavalasa</h5>
                    <p class="text-center">GOVERNOR</p>
                    <div class="btn-slide mt-1 text-center">
                        <i class="fa fa-share"></i>
                        <span>
                            <a href="https://www.facebook.com/gnaneswar.karakavalasa?mibextid=ZbWKwL" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://www.linkedin.com/in/gnaneswar-karakavalasa-ab00201b4" target="_blank"><i class="fab fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/gnaneswar_karakavalasa/" target="_blank"><i class="fab fa-instagram"></i></a>
                        </span>
                    </div>
                </div>
            </div>            
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
              <div class="team-item p-4 team-card">
                <div class="overflow-hidden mb-4">
                    <img class="img-fluid" src="{% static 'team/anki.jpg' %}" alt="" style="width: 100%; height: 500px; object-fit: cover;"> 
                </div>
                <h5 class="mb-0">Ankit Dipta Dutta</h5>
                <p>GOVERNOR</p>
                <div class="btn-slide mt-1">
                    <i class="fa fa-share"></i>
                    <span>
                        <a href="https://www.facebook.com/ankitdipta23"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.linkedin.com/in/ankit-dipta-dutta-b8b88412a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fab fa-linkedin"></i></a>
                        <a href="https://www.instagram.com/ankitdipta2323/profilecard/?igsh=ZW5pNmxqamQ2aXA0"><i class="fab fa-instagram"></i></a>
                    </span>
                </div>
            </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
              <div class="team-item p-4 team-card">
                <div class="overflow-hidden mb-4">
                    <img class="img-fluid" src="{% static 'team/somy.jpg' %}" alt="" style="width: 100%; height: 500px; object-fit: cover;"> 
                </div>
                <h5 class="mb-0">Somya Ranjan Dass</h5>
                <p>GOVERNOR</p>
                <div class="btn-slide mt-1">
                    <i class="fa fa-share"></i>
                    <span>
                        <a href="https://www.facebook.com/srdsomya.ranjan?mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.linkedin.com/in/somya-dass-3b0b7216b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fab fa-linkedin"></i></a>
                        <a href="https://www.instagram.com/srdsomya/"><i class="fab fa-instagram"></i></a>
                    </span>
                </div>
            </div>
            </div>
        </div>
        <div class="row g-4 team-row">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item p-4 team-card">
                  <div class="overflow-hidden mb-4">
                    <img class="img-fluid" src="{% static 'team/Prit.jpg' %}" alt="" style="width: 100%; height: 500px; object-fit: cover;"> 
                  </div>
                  <h5 class="mb-0">Prithwiraj Mahato </h5>
                  <p>GOVERNOR</p>
                  <div class="btn-slide mt-1">
                      <i class="fa fa-share"></i>
                      <span>
                          <a href="https://www.facebook.com/prithwiraj.mahato"><i class="fab fa-facebook-f"></i></a>
                          <a href="https://www.instagram.com/prithwiraj_95/profilecard/?igsh=MXFpYXd0MmZjOXY4Yg=="><i class="fab fa-instagram"></i></a>
                      </span>
                  </div>
              </div>
            </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="team-item p-4 team-card">
              <div class="overflow-hidden mb-4">
                <img class="img-fluid" src="{% static 'team/Prab.jpg' %}"  alt="" style="width: 100%; height: 500px; object-fit: cover;"> 
              </div>
              <h5 class="mb-0">Golla Meghanandh Manvith Prabhash </h5>
              <p>TECH HEAD</p>
              <div class="btn-slide mt-1">
                  <i class="fa fa-share"></i>
                  <span>
                      <a href="https://www.instagram.com/prabhashgolla/"><i class="fab fa-linkedin"></i></a>
                      <a href="https://www.linkedin.com/in/golla-meghanandh-manvith-prabhash-b643b725a/"><i class="fab fa-instagram"></i></a>
                  </span>
              </div>
          </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
            <div class="team-item p-4 team-card">
              <div class="overflow-hidden mb-4">
                <img class="img-fluid" src="{% static 'team/kari.jpg' %} " alt="" style="width: 100%; height: 500px; object-fit: cover;">
              </div>
              <h5 class="mb-0">Karina Dhaka</h5>
              <p>DESIGN HEAD</p>
              <div class="btn-slide mt-1">
                  <i class="fa fa-share"></i>
                  <span>
                      <a href="https://www.facebook.com/profile.php?id=61561594903821&mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a>
                      <a href="https://www.linkedin.com/in/karina-dhaka-7a46a2313?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fab fa-linkedin"></i></a>
                      <a href="https://www.instagram.com/dhaka_gir_l/profilecard/?igsh=ZXI1cms3amNyb2p1"><i class="fab fa-instagram"></i></a>
                  </span>
              </div>
          </div>
          </div>
      </div>
      <div class="row g-4 team-row">
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="team-item p-4 team-card">
              <div class="overflow-hidden mb-4">
                <img class="img-fluid" src="{% static 'team/basu.jpg' %} " alt="" style="width: 100%; height: 500px; object-fit: cover;">
              </div>
              <h5 class="mb-0">Basudev Pradhan</h5>
              <p>DESIGN HEAD</p>
              <div class="btn-slide mt-1">
                  <i class="fa fa-share"></i>
                  <span>
                      <a href="https://www.linkedin.com/in/basudev-pradhan/"><i class="fab fa-linkedin"></i></a>
                  </span>
              </div>
          </div>
          </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="team-item p-4 team-card">
            <div class="overflow-hidden mb-4">
             <img class="img-fluid" src="{% static 'team/ravi.jpg' %}" alt="" style="width: 100%; height: 500px; object-fit: cover;"> 
            </div>
            <h5 class="mb-0">RAVI KATARIYA</h5>
            <p>TREE CENSUS HEAD</p>
            <div class="btn-slide mt-1">
                <i class="fa fa-share"></i>
                <span>
                    <a href="https://www.facebook.com/ravi.katariya.4"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.linkedin.com/in/ravi-katariya-576a45217/" ><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/rviii_04/"><i class="fab fa-instagram"></i></a>
                </span>
            </div>
        </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
          <div class="team-item p-4 team-card">
            <div class="overflow-hidden mb-4">
               <img class="img-fluid" src="{% static 'team/Sandy.jpg' %}"  alt="" style="width: 100%; height: 500px; object-fit: cover;"> 
            </div>
            <h5 class="mb-0">Sandeep Kowshik Koppaka</h5>
            <p>PR Head</p>
            <div class="btn-slide mt-1">
                <i class="fa fa-share"></i>
                <span>
                    <a href="https://www.facebook.com/sandeep72024?mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.linkedin.com/in/sandeep-kowshik-b3349625a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fab fa-linkedin"></i></a>
                    <a href="https://instagram.com/sandeep__kowshik?igshid=MzMyNGUyNmU2YQ==" ><i class="fab fa-instagram"></i></a>
                </span>
            </div>
        </div>
        </div>
    </div>
    <div class="row g-4 team-row">
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="team-item p-4 team-card">
              <div class="overflow-hidden mb-4">
                <img class="img-fluid" src="{% static 'team/ephy.jpg' %}"  alt="" style="width: 100%; height: 500px; object-fit: cover;">
              </div>
              <h5 class="mb-0">Pulivarthi Ephraim EL Raj</h5>
              <p>PR Head</p>
              <div class="btn-slide mt-1">
                  <i class="fa fa-share"></i>
                  <span>
                      <a href="https://www.facebook.com/share/JtbiPXV3nu5zrZnz/?mibextid=LQQJ4d"><i class="fab fa-facebook-f"></i></a>
                      <a href="https://www.linkedin.com/in/ephraim-el-raj-993676196?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app+"><i class="fab fa-linkedin"></i></a>
                      <a href="https://www.instagram.com/ephy_2581/profilecard/?igsh=c3UwdmVza3BsdWVs"><i class="fab fa-instagram"></i></a>
                  </span>
              </div>
          </div>
          </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="team-item p-4 team-card">
            <div class="overflow-hidden mb-4">
                <img class="img-fluid" src="{% static 'team/pabi.jpg' %} " alt="" style="width: 100%; height: 500px; object-fit: cover;">
            </div>
            <h5 class="mb-0">Pabitra Senapati</h5>
            <p>GARDENING TEAM HEAD</p>
            <div class="btn-slide mt-1">
                <i class="fa fa-share"></i>
                <span>
                    <a href="https://www.facebook.com/share/17wxiSZE26/?mibextid=LQQJ4d"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.linkedin.com/in/pabitra-senapati-iitkgp?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" ><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/pabitra__senapati/profilecard/?igsh=bXk0c2ZvejhuNzVn"><i class="fab fa-instagram"></i></a>
                </span>
            </div>
        </div>
        </div>
        <!-- {#  <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
          <div class="team-item p-4 team-card">
            <div class="overflow-hidden mb-4">
               <img class="img-fluid" src="{% static 'team/vinit.jpg' %}"  alt="" style="width: 100%; height: 500px; object-fit: cover;"> 
            </div>
            <h5 class="mb-0">Priyantan Gupta</h5>
            <p>GARDENING TEAM HEAD</p>
            <div class="btn-slide mt-1">
                <i class="fa fa-share"></i>
                <span>
                </span>
            </div>
        </div>
        </div> #} -->
    </div>
    </div>
</div>

 <!-- Footer Start -->
 <div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s" style="margin-top: 6rem;">
    <div class="container ">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Address</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>IIT Kharagpur , Westbengal </p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+91 80746 06781</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>tesiitkgp@gmail.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/tesiitkgp/"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-outline-light btn-social" href="https://www.facebook.com/TESIITKGP/"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href="https://in.linkedin.com/company/tesiitkgp"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Quick Links</h4>
                <a class="btn btn-link" href="/#about">About Us</a>
                <a class="btn btn-link" href="/#contact">Contact Us</a>
                <a class="btn btn-link" href="{% url 'photo:list' %}">Our Events</a>
                <a class="btn btn-link" href="{% url 'photo:article' %}">Articles</a>
                <a class="btn btn-link"  href="/#team-section" >Team</a>
            </div>
            {% comment %} <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Newsletter</h4>
                <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                <div class="position-relative mx-auto" style="max-width: 400px;">
                  <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                  <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2" style="background-color: #FF3E41; color: white;">SignUp</button>
              </div>
              
            </div> {% endcomment %}
            <div class="col-lg-3 col-md-6">
              <h4 class="text-light mb-4">Newsletter</h4>
              <div id="subscribe-form">
                  <p>Subscribe to our Newsletter to get the latest updates from our society</p>
                  <div class="position-relative mx-auto" style="max-width: 400px;">
                      <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="email" id="email" placeholder="Your email">
                      <button type="button" id="subscribe-button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2" style="background-color: #FF3E41; color: white;">Subscribe</button>
                  </div>
              </div>
          </div>
          
          <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function () {
    console.log("Document ready.");
    
    $('#subscribe-button').click(function () {
        console.log("Button clicked.");
        
        var email = $('#email').val();
        console.log("Email:", email);
        
        $.ajax({
            type: 'POST',
            url: '{% url "photo:subscribe" %}',
            data: { 'email': email, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
            success: function (data) {
                console.log("Success:", data);
                $('#subscribe-form').html('<p>Subscription successful!</p>');
            },
            error: function (xhr, status, error) {
                console.error("Error:", error);
            }
        });
    });
});
</script>

        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">tesiitkgp.in</a>, All Right Reserved.
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
{% endblock body %}